/** Sticky footer **/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
footer {
  height: 90px;
}


/** Typography **/

h1 {
	font-weight: bold;
	margin-bottom: 30px;
}

/** Navigation Bar **/

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.nav {
	margin-top: 12px;
	margin-bottom: 5px;
	background-color: none;
}

.nav li a {
	background: none;
	color: #002147;
	font-size: 1.3em;
	font-family: lato;
	font-weight: bold;
}

/** Logos **/

.main-logo img {
	width: 200px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-left: 0;
    margin-bottom: 15px;
}

/** Jumbotron **/

.jumbotron {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/students.jpeg');
	opacity: 0.8;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 80%;
	text-align: center;
	padding-bottom: 165px;
}

.jumbotron h1 {
	font-size: 5em;
	color: #fff;
	font-family: sans-serif;
	margin-bottom: 5px;
}

.jumbotron h2 {
	margin-top: 15px;
	margin-bottom:20px;
	font-size: 2em;
	color: #fff;
	font-style: italic;
	font-weight: lighter;
	font-family: sans-serif;
}

.jumbotron h3 {
	font-size: 2em;
	color: #fff;
	font-weight: lighter;
	font-family: sans-serif;
	margin: 40px auto;
	max-width: 800px;
}


/** Main Content Layout **/

.main {
	padding-bottom: 30px;
}

.main h2 {
	text-align: center;
	color: #002147;
	font-family: lato;
	font-weight: bold;
	padding-bottom: 20px;
}

.main h3 {
	color: #4A90E2;
	font-family: lato;
}

.main p {
	color: #002147;
	font-family: lato;
}

.ft {
	margin-bottom: 72px;
}

.ft-copy {
	font-size: 1.05em;
}


/** Team **/

.team {
	background-color: #002147;
	padding-bottom: 50px;
	padding-top: 30px;
}

.team h2 {
	color: #fff;
	font-family: lato;
	font-weight: bold;
	padding-bottom: 20px;
}

.team-member {
	margin-bottom: 50px;
	text-align: center;
	font-family: lato;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #4A90E2;
   	width: 200px; 
    overflow: hidden;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    color: #fff;
}

.team-member p {
    margin-top: 0;
    color: #fff;
}

.goal p {
	font-family: lato;
	font-size: 1.5em;
	color: #fff;

}

/** MailChimp Signup **/

.signup-form {
	background-image: url('../img/cs-pattern.png');
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}

.signup-form h2 {
	padding-bottom: 20px;
	color: #002147;
	font-family: lato;
	font-weight: bold;
	text-align: center;
}

#mc_embed_signup {
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 20px;
	border: 7px solid #002147;
	margin: auto;
}

.mc-field-group {
	color: #002147;
	font-family: lato;
	padding-bottom: 15px;
}

/** Icons **/

.ft-icon {
	width: 94%;
	height: 196px;
	position: relative;
	background: #002147 no-repeat 270px -180px;
	background-size: 140%;
}

.ft-icon::before {
	content: "";
	display: block;
	position: absolute;
	width: 164px;
	height: 102px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/main.png') no-repeat;
	background-size: 100%;
}

.two::before {
	background-position: 0 -99px;
}

.three::before {
	background-position: 0 -200px;
}

.ft-icon.two {
	background-position: -500px 0; 
}

.ft-icon.three {
	background-position: 260px 0;
}

/** Footer **/

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #002147;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer p {
	color: #4A90E2;
}

.love {
	color: #4A90E2;
	line-height: 40px;
}

.love a {
	color: #fd5c63;
}



/** Our Classes **/

/*.class-description {*/
/*	background-color: #002147;*/
/*	padding-bottom: 50px;*/
/*	padding-top: 30px;*/
/*	font-family: lato;*/
/*}*/

/*.team h2 {*/
/*	color: #fff;*/
/*	font-family: lato;*/
/*	font-weight: bold;*/
/*	padding-bottom: 20px;*/
/*}*/


/** Class Description **/

.class-description {
	background-color: #4A90E2;;
	padding-bottom: 50px;
	padding-top: 30px;
}

.team h2 {
	color: #fff;
	font-family: lato;
	font-weight: bold;
	padding-bottom: 20px;
}

.team-member {
	margin-bottom: 50px;
	text-align: center;
	font-family: lato;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #4A90E2;
   	width: 200px; 
    overflow: hidden;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    color: #fff;
}

.team-member p {
    margin-top: 0;
    color: #fff;
}

.goal p {
	font-family: lato;
	font-size: 1.5em;
	color: #fff;

}








